<!DOCTYPE html>
<html>
<head>
	<title>Messenger</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #messages {
            list-style-type: none;
            overflow-y: auto;
            width: 100%;
            padding: 10px;
        }

        #messages > li {
            color: #ddd;
            max-width: 60%;
            margin: 10px 0;
        }

        #messages > li > p {
            display: inline-block;
            padding: 5px 10px;
            background-color: #333;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }

        .others{
            float: left;
            clear: both;
        }

        .self{
            float: right;
            clear: both;
        }

        .self > p{
            background-color: #ddd !important;
            color: #333;
        }

        #typing{
            display: none;
        }

        .typing{
            display: block !important;
            font-size: 12px;
            padding: 0px 10px;
            color: #aaa;
            position: absolute;
            bottom: 70px;
        }
    </style>
	<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	{{{body}}}
</body>
</html>